@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");


html,body {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
	padding-bottom: 6rem;
	font-family: "Montserrat", sans-serif;
	width: 100%;
}

songlist { 
     color: #000; 
     width: 95%; 
     /* padding: ; */
     margin: 5rem;
     margin-top: 2rem;
     background-color: #FFFFFF;
     text-align: center;
}

heading { 
     color: #fff; 
     font-size : 30px; 
     font-family: 'Nanum Gothic', sans-serif;
     background-color : #1e28b3; 
     margin-bottom: 10px;
     padding: 5px 0px;
}

heading, artist, album, genre, year, duration { 
     display : block; 
}

name { 
     font-size : 18px; 
     font-weight : bold; 
}

duration {
     font-size: 16px;
}

year {
     padding-bottom: 20px;
     color: rgb(12, 150, 108);
}